@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-spin-slow {
  animation: spin-slow 24s linear infinite;
}

.div-border {
  background: url("/assets/back.png") repeat;
  background-size: 12.5%;
}

.menu-button-bg {
  background: url("/assets/back.png");
  background-size: 100%;
}

.title-bg {
  background: url("/assets/yellow back.jpg") repeat;
  background-size: 25%;
}

.orange-bg {
  background: url("/assets/orange background.jpg") repeat;
  background-size: 100%;
}

.blue-bg {
  background: url("/assets/blue background.jpg") repeat;
  background-size: 100%;
}

.glow-effect {
  filter: drop-shadow(0 0 15px rgba(0, 153, 255, 0.6))
    drop-shadow(0 0 25px rgba(0, 153, 255, 0.4));
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "toony";
  src: url(/fonts/toonyline.otf);
}
@font-face {
  font-family: "stitch";
  src: url(/fonts/stitch.otf);
}
@font-face {
  font-family: "jackpot";
  src: url(/fonts/jackpot.otf);
}
