@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-spin-slow {
  animation: spin-slow 24s linear infinite;
}

.div-border {
  background: url("/assets/back.png") repeat;
  background-size: 12.5%;
}

.footer-border {
  background: url("/assets/footer-border.png") repeat;
  background-size: 25%;
}


.menu-button-bg {
  background: url("/assets/back.png");
  background-size: 100%;
}

.green-title {
  background: url("/assets/green arrowed button.png");
  background-size: 100%;
}

.road-bg {
  background: url("/assets/road-bg.jpg") repeat;
  background-size: 50%;
}

.profile-bg {
  background: url("/assets/back.png");
  background-size: 400%;
}

.title-bg {
  background: url("/assets/yellow back.jpg") repeat;
  background-size: 25%;
}

.orange-bg {
  background: url("/assets/orange background.jpg") repeat;
  background-size: 100%;
}

.orange-bg2 {
  background: url("/assets/orange background2.jpg") repeat;
  background-size: 100%;
}

.blue-bg {
  background: url("/assets/black background.png") repeat;
  background-size: 100%;
}

.glow-effect {
  filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.6))
    drop-shadow(0 0 25px rgba(255, 251, 1, 0.4));
}

.animate-infinite-scroll {
  display: flex;
  width: 200%;
  animation: infinite-scroll 20s linear infinite;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@font-face {
  font-family: "toony";
  src: url(/fonts/toonyline.otf);
}
@font-face {
  font-family: "stitch";
  src: url(/fonts/stitch.otf);
}
@font-face {
  font-family: "jackpot";
  src: url(/fonts/jackpot.ttf);
}
@font-face {
  font-family: "extra";
  src: url(/fonts/extra.ttf);
}
